/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.lrcontainer{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -6%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.l2rcontainer{
  display: flex;
flex-direction: row;
/* position: absolute; */
/* bottom: -6%; */
width: 100%;
margin-left: 0;
margin-right: 0;
justify-content: center;
flex-direction: column;
}
@media (max-width: 768px){
  /* .lrcontainer{
   
    /* bottom: -42%; */
    /* display:none; */
  /* } */
  .to{
flex-direction: column-reverse;
  }
  .topp{
    height: 300px ;
  }
  .About-page-section-data{
    width: 100% !important;
  }
  .bo{
    flex-direction: column;
  }
  .About-page-section-image{
    width: auto !important;
  }
  .About-container{
    /* margin-top: 490px; */
  }
  .About-section{
    flex-direction: column;
    /* height: 95vh; */
    padding-bottom: 250px;
  }
  .stats-boxes{
    flex-direction: column;
  }
  .stat-container{
    flex-direction: column;
  }
  .Content-container{
    flex-direction: column;
  }
  .icons-wrapper{
    gap: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* Your CSS rules go here */
  .card-grid{
    grid-template-columns: repeat(3, 320px) !important;
  }
  .card.first-card::before{
    width: 420px !important;
  }
  .card.last-card::before{
    width: 420px !important;
  }
  .card{
    width: 320px !important;
  }
}